@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  .center-sec {
    @apply mx-auto w-[90%];
  }

  .tran-fast {
    @apply duration-200 ease-in transition-all;
  }
  .hover-btn {
    @apply bg-gradient-to-r border border-[#c50c1883]
     from-[#C24B76] to-[#FD8330] shadow-2xl transition-all 
     relative overflow-hidden before:absolute before:right-0 before:top-0 before:h-full before:w-6 before:translate-x-12
      before:rotate-6 before:bg-white before:opacity-10 before:duration-700 hover:before:-translate-x-40;
  }

  .btn-hover {
    @apply relative overflow-hidden before:absolute before:right-0 before:top-0 before:h-full before:w-6 before:translate-x-12
    before:rotate-6 before:bg-white before:opacity-10 before:duration-700 hover:before:-translate-x-40;
  }

  .hero-grad {
    @apply before:absolute before:top-0 before:right-0 before:w-full before:h-[45%]
     md:before:h-[calc(60%)] before:bg-gradient-to-b
     before:from-[#f80ed94a] before:to-transparent before:pointer-events-none;
  }
}

@layer utilities {
  .thin-bar {
    scrollbar-width: thin;
  }
  .no-bar {
    scrollbar-width: none;
  }
}

/* ROTATING PLANETS BLOGS HERO SECTION */

#rotate,
#rotate_2,
#rotate_3,
#rotate_4 {
  transform-origin: center;
  animation: rotate 8s infinite linear;
  transform-box: fill-box;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* BLOG FILTRABLE CARDS */
.filter-card div:first-child div {
  perspective: 1000px;
}
.filter-card div:first-child div div:first-child {
  transition: all ease-in 0.3s 0.1s;

  background: linear-gradient(
    180deg,
    #030014 0%,
    #7e22ce 68.13%,
    #f5d0fe 107.62%
  );
  z-index: 6;
}
.filter-card div:first-child div div:nth-child(2) {
  transition: all ease-in 0.1s 0.2s;
  z-index: 5;
  transform: rotateX(60deg) translateY(-3.5rem) scale(111%);
  background: linear-gradient(
    180deg,
    #7a3da9 2.09%,
    #2e0e71 52.66%,
    rgba(3, 0, 20, 0.1) 100%
  );
}

.filter-card:hover div:first-child div div:nth-child(2) {
  transform: rotateX(55deg) translateY(-3rem) scale(109%);
}
.filter-card:hover div:first-child div div:first-child {
  transform: rotateX(-20deg);
}

.filter-card div:first-child div ul {
  transition: all ease-in 0.3s;
  z-index: 7;
  transform: rotateX(60deg) translateX(-50%);
}

.filter-card:hover div:first-child ul {
  transform: rotateX(40deg) translateX(-50%);
}

/*  ARC GLOW */
.glowing-circle {
  animation: glowing 1s ease-in-out infinite alternate;
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #7e22ce, 0 0 40px #f5d0fe,
      0 0 50px #030014, 0 0 60px #030014, 0 0 70px #030014;
  }
  100% {
    box-shadow: 0 0 20px #fff, 0 0 30px #f5d0fe, 0 0 40px #f5d0fe,
      0 0 50px #7e22ce, 0 0 60px #7e22ce, 0 0 70px #7e22ce, 0 0 80px #7e22ce;
  }
}

/* API CODE TYPE ANIMATION */
.code-type {
  opacity: 1;
  color: transparent;
  background: linear-gradient(-90deg, #fafafa 1px, #0000 0) 10px 0,
    linear-gradient(#fafafa 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation: b 0.5s infinite steps(1),
    t calc(var(--n) * 0.05s) steps(var(--n)) forwards;
}
@keyframes t {
  0% {
    background-size: 0 200%;
  }
}
@keyframes b {
  50% {
    background-position: 0 -100%, 0 0;
  }
}

.code-appear {
  transition: opacity 0.5s linear calc(var(--n) * 0.05s);
  opacity: 1;
}

.wheel-icon {
  transform-origin: center;
  transform-box: fill-box;
}
