@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Merriweather-Regular';
        src: url(/app/fonts/Merriweather-Regular.ttf);
        /* font-weight: 400; */
    }
}

#rotate,
#rotate_2,
#rotate_3,
#rotate_4 {
    transform-origin: center;
    animation: rotate 8s infinite linear;
    transform-box: fill-box;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}